#header{
	padding:5px;
}
.Logo-L{
	padding-right: 10px;
	border-right:1px solid #ebe4f0;
}
.ct-button:after {
    content: ''; 
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-image: url('https://whimsical.com/_next/static/media/signup-arrow.851d41fb.svg');
    background-position:center center; 
    background-repeat: no-repeat; 
    margin-left: 8px; 
	 background-color:white;
	border-radius:50%;
	padding:20px;
}
